/******************** GENERAL *************************/

body {
  color: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

a,
a:visited {
  color: #ccc;
}

a:hover,
a:active {
  color: #08f;
}

html, body {
  overflow: hidden;
}

/******************** DEVICE *************************/

#desktop {}

.mobile {
  display: none;
}


/******************** HEADING *************************/

#heading {
  z-index: 100000;
  position: absolute;
  width: 100%;
  top: 20px;
  text-align: center;
}

#title {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 500;
}

#subtitle {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}

#info-buttons {
  text-align: center;
}

.mode-button {
    width: 140px;
    background-color: #003366;
    border: 2px solid #80ccff;
    border-radius: 5px;
    color: white;
    padding: 4px;
    text-align: center;
    display: inline;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
}

.mode-button:hover {
    background-color: #555;
}

/******************** MOBILE HEADER ****************/

#header {
  background: rgba(12, 12, 12, 0.8);
  color: #eee;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1000000;
  text-align: center;
}

#modes {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}



/******************** ANIMATION BUTTON ****************/

#pause::after {
    content: 'Pause';
}

#pause.pause::after {
    content: 'Animate';
}



/******************** SIDEBAR *************************/

#sidebar {
  position: absolute;
  z-index: 1012022;
  bottom: 0px;
  right: 10px;
  width: 150px;
}


/******************** LEGEND *************************/

.av {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.caption {
  display: inline-block;
}

#legend {
  z-index: 1012022;
  background: rgba(12, 12, 12, 0.75);
  font-size: 12px;
}

#legend-collapsible {
  position: relative;
  margin: 0px;
  font-family: 'Merriweather', serif;
}

#legend-content {
  padding: 5px;
  display: block;
}

.line {
  line-height: 18px;
  display: flex;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 4px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}


/******************** LEFT PANEL ********************/

#leftpanel {
  position: absolute;
  z-index: 1012022;
  bottom: 0px;
  left: 10px;
  width: 270px;
}


/******************** INFO *************************/

#info {
 background: rgba(12, 12, 12, 0.75);
 color: #eee;
 padding: 10px;
}

#info-content {
 font-size: 13px;
 display: none;
}

#info-collapsible {
  position: relative;
  margin: 0px;
  font-family: 'Merriweather', serif;
}

#info-header {
 font-weight: 400;
 margin-bottom: 10px;
 text-align: left;;
 font-size: 24px;
 font-family: 'Merriweather', serif;
}

#info-intro {
  font-size: 13px;
  line-height: 16px;
}

#info-intro-mobile {
  font-size: 13px;
  line-height: 16px;
}

#info-zip,
#info-prov {
  display: none;
}

.item {
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
}

.item-id {
  display: inline-block;
}

.item-name {
  display: inline-block;
}

.item-value {
  display: inline-block;
  float: right;
}

.param-subheader {}

.param {
  line-height: 22px;
}

.param-value {
  float: right;
  display: inline-block;
  color: #eee;
  font-size: 12px;
}

.param-caption {
  display: inline-block;
  color: #ccc;
  font-size: 12px;
}

#yacht_image {
  max-width: 100%;
}

#info-content-territory {
  font-size: 13px;
  display: none;
}


/******************** TIME *************************/

#time {
  display: none;
  z-index: 101010;
  position: absolute;
  left: calc(50% - 150px);
  top: 155px;
  text-align: center;
  width: 300px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid #aaaaaa;
  font-weight: 400;
  background: rgba(0,0,0,0.5);
}


/******************** CONTROLS *************************/

#controls {
  z-index: 101010;
  position: absolute;
  left: 50%;
  top: 155px;
  margin-left: -250px;
  width: 500px;
  text-align: center;
  color: #fff
}

#slider-area {
  display: inline-block;
  width: 300px;
  background: rgba(0,0,0,0.5);
  line-height: 20px;
}


/******************** MAPBOX *************************/

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Work Sans', Arial, Helvetica, sans-serif;
  color: #000000;
}


/******************** MEDIA QUERIES *************************/

@media screen and (max-width: 650px) {
    
  .desktop {
      display: none;
  }
  
  .mobile {
    display: block;
  }

  #map {
    left: 0px;
    width: 100%;
    bottom: 150px;
    top: 0px;
    height: auto;
  }

  #controls {
    top: 70px;
  }

  .mode-button {
    width: auto;
    background-color: #003366;
    border: 2px solid #80ccff;
    border-radius: 5px;
    color: white;
    padding: 4px;
    text-align: center;
    display: inline;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
  }

  #sidebar {
    display: none;
  }

  #time {
    top: 70px;
  }

  #leftpanel {
    height: 150px;
    left: 0px;
    bottom: 0px;
    width: calc(100% - 20px);
    background: rgba(12, 12, 12, 1);
    color: #eee;
    padding: 10px;
  }


};



