/******************** GENERAL *************************/

body {
  color: #eee;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

a,
a:visited {
  color: #ccc;
}

a:hover,
a:active {
  color: #08f;
}


/******************** DEVICE *************************/

#desktop {}

.mobile {
  display: none;
}

/******************** BUTTON *************************/


#pause::after {
    content: 'Pause';
}

#pause.pause::after {
    content: 'Animate';
}



/******************** SIDEBAR *************************/

#sidebar {
  position: absolute;
  z-index: 1012022;
  top: 10px;
  right: 10px;
  width: 130px;
}


/******************** LEGEND *************************/

.av {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.caption {
  display: inline-block;
}

#legend {
  z-index: 1012022;
  background: rgba(12, 12, 12, 0.85);
  font-size: 12px;
}

#legend-collapsible {
  position: relative;
  margin: 0px;
  font-family: 'Merriweather', serif;
}

#legend-content {
  padding: 5px;
  display: block;
}

.line {
  line-height: 18px;
  display: flex;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 4px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}


/******************** INFO *************************/

#info {
 position: absolute;
 z-index: 1012022;
 top: 0px;
 left: 0px;
 bottom: 0px;
 width: 250px;
 background: rgba(12, 12, 12, 1);
 color: #eee;
 padding: 10px;
}

#info-content {
 font-size: 13px;
 display: none;
}

#info-header {
 font-weight: 400;
 margin-bottom: 10px;
 text-align: left;;
 font-size: 24px;
 font-family: 'Merriweather', serif;
}


#info-intro {
  font-size: 13px;
  line-height: 16px;
}

#info-zip,
#info-prov {
  display: none;
}

.item {
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
}

.item-id {
  display: inline-block;
}

.item-name {
  display: inline-block;
}

.item-value {
  display: inline-block;
  float: right;
}

.param-subheader {}

.param {
  line-height: 22px;
}

.param-value {
  float: right;
  display: inline-block;
  color: #eee;
  font-size: 12px;
}

.param-caption {
  display: inline-block;
  color: #ccc;
  font-size: 12px;
}

#yacht_image {
  max-width: 100%;
}


#info-buttons {
  text-align: center;
}

.mode-button {
    width: 140px;
    background-color: #777;
    border: none;
    color: white;
    padding: 13px;
    text-align: center;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
}

.mode-button:hover {
    background-color: #555;
}

#info-content-territory {
  font-size: 13px;
  display: none;
}



/******************** TIME *************************/

#time {
  display: none;
  z-index: 101010;
  position: absolute;
  left: 135px;
  bottom: 90px;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;

}


/******************** CONTROLS *************************/

#controls {
  z-index: 101010;
  position: absolute;
  left: calc(135px + 50%);
  bottom: 30px;
  margin-left: -250px;
  width: 500px;
  text-align: center;
  color: #fff
}

#slider-area {
  display: inline-block;
  width: 300px;
  background: rgba(0,0,0,0.5);
  line-height: 20px;
}



/******************** MAPBOX *************************/

#map {
  position: absolute;
  left: 270px;
  right: 0px;
  top: 0;
  bottom: 0;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Work Sans', Arial, Helvetica, sans-serif;
  color: #000000;
}

